.contents {
    margin-left:250px;
    width: 80%;
}

.wikitable {
    width : 80%;
}
.wikih3 {
    width:100%;
}

#first {
    width : 200px;
}
h3 {
    font-size : 30px;
}

textarea {
    margin-left: 10px;
}