<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jaram 교수위키</title>
        <link href="{{ url_for('static', filename='css/dropdownsidenav.css') }}" type="text/css" rel="stylesheet" />
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    </head>
    <body>
        <div class="h">
            <img class="main_img" src="/static/img/책 하냥2.png" width="900" height="220" style="margin-left: auto; margin-right: auto; display: block;">
        </div>
        <div class="b">
            <div class="sidenav">
                <button class="dropdown-btn">소프트웨어학부
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button class="dropdown-btn">교수 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for name in soft_prof_list %}
                            <a href="/software_professor/{{ name }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                    <button class="dropdown-btn">명예교수
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for name in soft_honor_list %}
                            <a href="/software_professor/{{ name }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                    <button class="dropdown-btn">겸임교수
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for name in soft_adjunct_list %}
                            <a href="/software_professor/{{ name }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <button class="dropdown-btn">ICT 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <button class="dropdown-btn">교수 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for name in ict_prof_list %}
                            <a href="/ict_professor/{{ name }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                    <button class="dropdown-btn">겸임교수
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for name in ict_adjunct_list %}
                            <a href="/ict_professor/{{ name }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="contents">
                한양대 에리카 소융대의 교수 위키
            </div>
        </div>
    </body>
</html>
